[Interface]
Address = {{ internal_ip }}
PrivateKey = {{ private_key }}
ListenPort = 51820

{% for item in groups['nodes'] %}
{% if item != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[item]['public_key'] }}
AllowedIps = {{ hostvars[item]['internal_ip'] }}/32
Endpoint = {{ hostvars[item]['ansible_default_ipv4']['address'] }}:51820

{% endif %}
{% endfor %}
